<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {{ content_for_header }}
    <link rel="stylesheet" href="{{ 'global.css' | asset_url }}">

  </head>

  <body>
    {% sections "header-group" %}
      <main class="main-container">
        {{ content_for_layout }}
      </main>
    {% sections "footer-group" %}
  </body>

</html>
