<nav class="navbar">
    <a href={{routes.root_url}} class="logo">Logo</a>
    <ul class="nav-menu">
        <li class="nav-item">
            {% for link in linklists.header.links %}
                <a href="{{link.url}}" class="nav-link">{{link.title}}</a>
            {% endfor %}
        </li>
    </ul>
    <a href="{[section.settings.product_id]}" type="button" class="buy-now-btn">Buy Now</a>
</nav>

{% schema %}
    {
        "name": "Header",
        "settings": [
            {
                "type": "product",
                "id": "product_id",
                "label": "Link to product"
            }
        ]
    }
{% endschema %}
